<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carrotHP1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotHP10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{685,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotHP2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{77,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotHP3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{153,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotHP4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{229,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotHP5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{305,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotHP6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{381,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotHP7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{457,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotHP8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{533,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrotHP9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{609,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>carrotHP.png</string>
            <key>size</key>
            <string>{760,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bab39392bccb52aec0c1f0884c410e86:24ebb0e0c749ee4989a900298494b55f:582f5023dafce665f264b610bac25501$</string>
            <key>textureFileName</key>
            <string>carrotHP.png</string>
        </dict>
    </dict>
</plist>
