<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PBottle31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{38,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{38,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PBottle32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{38,62}</string>
                <key>textureRect</key>
                <string>{{38,0},{38,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PBottle33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{38,62}</string>
                <key>textureRect</key>
                <string>{{76,0},{38,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PBottle3.png</string>
            <key>size</key>
            <string>{114,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e83fc29d3bf134227cb2edc05fdfd60a:12c3754a571a9132347cf13f3b20334f:590fe75fdc020513a1fab68aa74ce3af$</string>
            <key>textureFileName</key>
            <string>PBottle3.png</string>
        </dict>
    </dict>
</plist>
