<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PBottle21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{28,58}</string>
                <key>textureRect</key>
                <string>{{0,0},{28,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PBottle22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{28,58}</string>
                <key>textureRect</key>
                <string>{{0,58},{28,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PBottle23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{28,58}</string>
                <key>textureRect</key>
                <string>{{0,116},{28,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PBottle2.png</string>
            <key>size</key>
            <string>{28,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0b1415a483fbd26aa47c80030862e94:dac60112afb30fbaf19d3b5f9637a85e:1a9eafae4a9d5bf30837e6f4e912af9b$</string>
            <key>textureFileName</key>
            <string>PBottle2.png</string>
        </dict>
    </dict>
</plist>
