<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PShit11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,102}</string>
                <key>spriteSourceSize</key>
                <string>{41,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{41,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PShit12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,106}</string>
                <key>spriteSourceSize</key>
                <string>{35,106}</string>
                <key>textureRect</key>
                <string>{{41,0},{35,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PShit1.png</string>
            <key>size</key>
            <string>{76,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:905581f6fe4639db7fb98490fadba105:90fc2098392ad4fb5497e963b7b86076:8c243a900eaa2bfdb69caf00aeee1a21$</string>
            <key>textureFileName</key>
            <string>PShit1.png</string>
        </dict>
    </dict>
</plist>
