<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PShit31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PShit32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{60,0},{45,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PShit3.png</string>
            <key>size</key>
            <string>{105,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf53a5419aa4cbcedc58797b29d32a1d:0f6213d54c5ab9b4b078415b7d2f7ffb:58912165bf2516fe2f3fb06b7fc47296$</string>
            <key>textureFileName</key>
            <string>PShit3.png</string>
        </dict>
    </dict>
</plist>
